.bg-1 {
    background: url(golden-background.jpg);
    height: 100vh;
    width: 100vw;
}

.jumbotron {
    background-color: #ffefdb;
    padding-top: 75px;
}

.container-fluid {
    padding-top: 75px;
}

.share {
    padding-top: 50px;
    font-size: 18px;
}

#button {
    font-size: 18px
}

/*#button:onClick {*/

/*    animation-name: bounceInDown;*/

/*}*/

#twitterBtn {
    color: blue;
}
