.bg-1 {
    background: url(http://www.publicdomainpictures.net/pictures/30000/velka/golden-background.jpg);
    height: 100vh;
    width: 100vw;
}

.jumbotron {
    background-color: #ffefdb;
    padding-top: 75px;
}

.container-fluid {
    padding-top: 75px;
}

.share {
    padding-top: 50px;
    font-size: 18px;
}

#button {
    font-size: 18px;
}

.bounceInDown {
    animation-name: bounceInDown;
    animation-delay: 2s;
}

@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: none;
    }
}
